<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChallengeConsole.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <system.diagnostics>
    <sources>
      <source name="ChallengeHost">
        <listeners>
          <add name="FileListener"/>
          <add name="ConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="ChallengeHost" value="All"/>
    </switches>
    
    <sharedListeners>
      <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log"/>
      <add name="ConsoleTraceListener" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
  </system.diagnostics>
  
  <connectionStrings>
    <!--<add name="CodeChallenge" connectionString="Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_57342_omahamtg;User Id=SQL2008_57342_omahamtg_user;Password=Om4h4Mtg;"/>-->
    <!--<add name="CodeChallengeModelChallengeManager" connectionString="metadata=res://*/Challenge.csdl|res://*/Challenge.ssdl|res://*/Challenge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_57342_omahamtg;Persist Security Info=True;User ID=SQL2008_57342_omahamtg_user;Password=Om4h4Mtg;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CodeChallengeModelChallengeManager" connectionString="metadata=res://*/Challenge.csdl|res://*/Challenge.ssdl|res://*/Challenge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=OmahaMTGDev;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    
  </connectionStrings>

  <applicationSettings>
    <ChallengeConsole.My.MySettings>
      <setting name="NewChallangeCheckIntervalSeconds" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ChallengeExecutionWorkingDirectory" serializeAs="String">
        <value>..\..\..\UntrustedExecution</value>
      </setting>
      <setting name="ChallengeConsolePath" serializeAs="String">
        <value>.\ChallengeConsole.exe</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String">
        <value>..\..\..\UntrustedExecution\Archive</value>
      </setting>
    </ChallengeConsole.My.MySettings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
