<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false"/>
    </sectionGroup>
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="OmahaMTG" connectionString="Data Source=localhost;Initial Catalog=OmahaMTGDev;Integrated Security=SSPI;MultipleActiveResultSets=True" />
    <add name="CodeChallengeModel" connectionString="metadata=res://*/Models.CodeChallenge.csdl|res://*/Models.CodeChallenge.ssdl|res://*/Models.CodeChallenge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=OmahaMTGDev;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CodeChallengeModelChallengeManager" connectionString="metadata=res://*/Challenge.csdl|res://*/Challenge.ssdl|res://*/Challenge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=OmahaMTGDev;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="OmahaMTG" connectionString="Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_57342_omahamtg;User Id=SQL2008_57342_omahamtg_user;Password=Om4h4Mtg;"/>
    <add name="CodeChallengeModel" connectionString="metadata=res://*/Models.CodeChallenge.csdl|res://*/Models.CodeChallenge.ssdl|res://*/Models.CodeChallenge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_57342_omahamtg;User Id=SQL2008_57342_omahamtg_user;Password=Om4h4Mtg;&quot;" providerName="System.Data.EntityClient"/>
    <add name="CodeChallengeModelChallengeManager" connectionString="metadata=res://*/Challenge.csdl|res://*/Challenge.ssdl|res://*/Challenge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_57342_omahamtg;User Id=SQL2008_57342_omahamtg_user;Password=Om4h4Mtg;&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2147483647"/>
    <machineKey validationKey="C5D4549C8D9A79D383FA60AC83A512173676CDF190194E947EA20D313B867FCF00D7B17F0FE0DE7C06F8D7BACE0E96EA056BB474D6BED1CE9D68FAB8227AC93D" decryptionKey="03C156A17187F1F8512040D24DDDDAB0F6680DA9C16CFB4DE234D63CE79FD809" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".SilverlightUI_ASPXAUTH" timeout="43200"/>
    </authentication>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="OmahaMTG" applicationName="OmahaMTG" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" minRequiredPasswordLength="6" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="OmahaMTG" applicationName="OmahaMTG"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="SqlProfileProvider">
      <providers>
        <clear/>
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="OmahaMTG" applicationName="OmahaMTG" description="Stores and retrieves profile data from a sql database."/>
      </providers>
      <properties>
        <clear/>
        <add name="FriendlyName" type="string" allowAnonymous="false" serializeAs="String"/>
        <add name="UserID" type="System.Guid" allowAnonymous="false" serializeAs="String"/>
      </properties>
    </profile>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.devassembly" type="SilverlightUI.AssemblyDownloader" validate="false"/>
      <add verb="*" path="*.sample" type="SilverlightUI.SampleDownloader" validate="false"/>
      <add verb="*" path="*.documentation" type="SilverlightUI.DocumentationDownloader" validate="false"/>
      <add verb="*" path="*.results" type="SilverlightUI.ResultDetailsDownloader" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <add name="AssemblyDownloader" verb="*" path="*.devassembly" type="SilverlightUI.AssemblyDownloader" preCondition="integratedMode"/>
      <add name="SampleDownloader" verb="*" path="*.sample" type="SilverlightUI.SampleDownloader" preCondition="integratedMode"/>
      <add name="DocumentationDownloader" verb="*" path="*.documentation" type="SilverlightUI.DocumentationDownloader" preCondition="integratedMode"/>
      <add name="ResultsDownloads" verb="*" path="*.results" type="SilverlightUI.ResultDetailsDownloader" preCondition="integratedMode"/>
    </handlers>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true"/>
        <!--<windowsAuthentication enabled="false"/>-->
        <basicAuthentication enabled="false"/>
      </authentication>
      <requestFiltering allowDoubleEscaping="True"/>
    </security>
  </system.webServer>
  <system.serviceModel>
    <domainServices>
      <endpoints>
        <add name="OData" type="System.ServiceModel.DomainServices.Hosting.ODataEndpointFactory, System.ServiceModel.DomainServices.Hosting.OData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="soap" type="Microsoft.ServiceModel.DomainServices.Hosting.SoapXmlEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </endpoints>
    </domainServices>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>