<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OmahaMTG.Challenge.ExecutionWindowsService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!--<add name="CodeChallenge" connectionString="Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_57342_omahamtg;User Id=SQL2008_57342_omahamtg_user;Password=Om4h4Mtg;"/>-->
    <add name="CodeChallengeModelChallengeManager" connectionString="metadata=res://*/Challenge.csdl|res://*/Challenge.ssdl|res://*/Challenge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=OmahaMTGDev;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <source name="ChallengeHost">
        <listeners>
          <add name="FileListener"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="ChallengeHost" value="All"/>
    </switches>

    <sharedListeners>
      <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log"/>
    </sharedListeners>
  </system.diagnostics>

  <applicationSettings>
    <OmahaMTG.Challenge.ExecutionWindowsService.My.MySettings>
      <setting name="NewChallangeCheckIntervalSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ChallengeExecutionWorkingDirectory" serializeAs="String">
        <value>C:\Development\OmahaMTG\Development\Tools\CodeChallenge\untrustedbin\Debug</value>
      </setting>
      <setting name="ChallengeConsolePath" serializeAs="String">
        <value>C:\Development\OmahaMTG\Development\Tools\CodeChallenge\bin\Debug\ChallengeConsole.exe</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String">
        <value>C:\Development\OmahaMTG\Development\Tools\CodeChallenge\untrustedbin\Debug\Archive</value>
      </setting>
    </OmahaMTG.Challenge.ExecutionWindowsService.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
